<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cszjo.jobhunter.dao.ClawerTaskDao">

    <resultMap id="clawerTaskResult" type="com.cszjo.jobhunter.model.ClawerTask">
        <id property="id" column="id"/>
        <result property="taskName" column="task_name"/>
        <result property="jobCount" column="job_count"/>
        <result property="statu" column="statu"/>
        <result property="createTime" column="create_time"/>
        <result property="threadCount" column="thread_count"/>
        <result property="keyWord" column="key_word"/>
        <result property="templateId" column="template_id"/>
        <result property="experience" column="experience"/>
        <result property="nowCount" column="now_count"/>
    </resultMap>

    <select id="selectAll" resultMap="clawerTaskResult">
        SELECT * FROM clawer_task;
    </select>

    <insert id="addTask" parameterType="com.cszjo.jobhunter.model.ClawerTask" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO jobhunter.clawer_task (task_name, job_count, statu, create_time, thread_count, key_word, experience, template_id, now_count)
	    VALUES  (#{taskName}, #{jobCount}, #{statu}, NOW(), #{threadCount}, #{keyWord}, #{experience}, #{templateId}, 0);
    </insert>

    <select id="selectById" resultMap="clawerTaskResult" parameterType="Integer">
        SELECT * FROM clawer_task WHERE id = #{id};
    </select>

    <update id="updateById" parameterType="com.cszjo.jobhunter.model.ClawerTask">
        UPDATE jobhunter.clawer_task SET task_name = #{taskName} , job_count = #{jobCount} , statu = #{statu} ,
        thread_count = #{threadCount} , key_word = #{keyWord} , experience = #{experience} ,
        template_id = #{templateId} , now_count = #{nowCount}
        WHERE id = #{id} ;
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM jobhunter.clawer_task WHERE id = #{id} ;
    </delete>
</mapper>