<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cszjo.jobhunter.dao.TemplateDao">

    <resultMap id="templateResult" type="com.cszjo.jobhunter.model.Template">
        <id property="id" column="id"/>
        <result property="templateName" column="template_name"/>
        <result property="url" column="url"/>
        <result property="createTime" column="create_time"/>
        <result property="cityKey" column="city_key"/>
        <result property="keyWordKey" column="key_word_key"/>
        <result property="jobList" column="job_list_jquery"/>
        <result property="jobName" column="job_name_jquery"/>
        <result property="urlQuery" column="job_url_query" />
        <result property="placeTime" column="place_time_jquery"/>
        <result property="jobAddress" column="job_address_jquery"/>
        <result property="maxMoney" column="max_money_jquery"/>
        <result property="experienceKey" column="experience_key"/>
        <result property="companyName" column="company_name_jquery"/>
        <result property="remark" column="remark"/>
        <result property="pageKey" column="page_key"/>
    </resultMap>

    <select id="selectAll" resultMap="templateResult">
        SELECT * FROM template;
    </select>

    <insert id="addTemplate" parameterType="com.cszjo.jobhunter.model.Template">
        INSERT INTO jobhunter.template (template_name, url, create_time, city_key, key_word_key, experience_key, job_list_query,
	    job_name_query, job_url_query, place_time_query, job_address_query, max_money_query, company_name_query, remark, page_key)
	    VALUES (#{templateName}, #{url}, #{createTime}, #{cityKey}, #{keyWordKey}, #{experienceKey}, #{jobList},
	    #{jobName}, #{urlQuery}, #{placeTime}, #{jobAddress}, #{maxMoney}, #{companyName}, #{remark},
	    #{pageKey} );

    </insert>

    <select id="selectById" resultMap="templateResult" parameterType="Integer">
        SELECT * FROM template WHERE id = #{id};
    </select>

    <update id="updateById" parameterType="com.cszjo.jobhunter.model.Template">
        UPDATE jobhunter.template SET  template_name = #{templateName}, url = #{url}, city_key = #{cityKey}, key_word_key = #{keyWordKey}, job_name_jquery = #{jobName},
        place_time_jquery = #{placeTime}, job_address_jquery = #{jobAddress}, max_money_jquery = #{maxMoney}, job_url_query = #{urlQuery},
        company_name_jquery = #{companyName}, job_list_jquery = #{jobList}, remark = #{remark}, page_key = #{pageKey}
        WHERE id = #{id};
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM jobhunter.template WHERE id = #{id} ;
    </delete>
</mapper>